
.home-container{
    text-align: center;
    padding-left: 40px;
    padding-top: 50px;
    text-decoration: bold;
    background-color: rgb(75, 125, 218);
    background-size: cover;
    width: 45%;
    height:570px;
    margin-left: 270px;
    margin-top: 50px;
    text-align: center;
}
.background{
    background-image: url(../assets/images/Yul0hYmlAixvGCCQr73CXmvazZfqPX3Cre6tLnKh.png.crdownload);
    background-repeat: no-repeat;
    background-size: cover;
}
.home-container button{
    background-color: rgb(146, 145, 145);
    border-radius: 10px;
    height: 30px;
    width: 100px;
    margin-left: 180px;
    margin-bottom: 5000px;
}
.kkkk{
    display: flex;
    text-align: center;
    margin-left: -30px;
}
.hhh{
    margin-left: 50px;
    height: 500px;
}