*{
    box-sizing:border-box;
    margin:0;
    padding:0
}
.all-content{
    background-image: url(../assets/images/women.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-color: black;
    height: 120vh;
}

.semi-home{
    display: flex;
     background-color:rgba(100, 185, 255, 0.486);
     width: 100%;
}
.home-igenamigambi{
    background-color: rgb(255, 255, 255);
    background-size: fixed;
    border-radius: 10px;
    box-shadow: 0 0 5px 5px;
    width: 25%;
    height: 30vh;
    /* padding: 50px; */
    margin-left: 100px;
    margin-top:290px
    
}
.home-igenamigambi h1{
    padding-top: 7px;
}
.home-igenamigambi h2{
    padding: 15px 12px 10px;
    font-size: 25px;
    
}
.container{
    display: flex;
    padding-bottom: 10px;
    align-content: space-between;
    opacity: 0;
    animation-name: between;
    animation-duration: 3s;
    animation-delay: 1s;
    animation-fill-mode: forwards;
    transition-property: all;
    transition-duration: 1s;
    padding:0% 6%;
}
@keyframes between{
    0% {opacity:0}
    100% {opacity:1}

}
.rightside{
    background-color: white;
    width: 60%;
    border-radius: 20px;
    /* box-shadow: 9px 8px 3px rgb(167, 235, 11); */
    
}
.leftside{

    width: 40%;
    /* border-radius: 20px; */
    /* box-shadow: 1px 5px 3px 1px rgb(167, 235, 11); */
}
.rightside p{
    text-align: center;
    padding-top: 20px;
    font-size: large;
}
.search{
    margin-left: 550px;
    margin-top: -10px;
    margin-bottom: 30px;
    background-clip: border-box;
    background-color: rgb(22, 138, 158);
    /* padding: 13px; */
    border-radius: 15px;
    width: 15%;
    height: 8vh;
    box-shadow: 10px 0px 3px 0px white;

    animation-name: button;
    animation-duration: 3s;
    animation-delay: 3s;
    animation-fill-mode: forwards;
    transition-property: all;
    transition-duration: 1s;


}


@keyframes button{
    0% {opacity: 0;}
    100% {opacity: 1;}
}
.search:hover{
    transform:rotateY(180deg)
}

.search h2{
    font-weight: bold;
    /* color: rgb(75, 231, 14); */
    padding-left: 5px;
    color: white;
    font-size: 16px;
}

