*{
    box-sizing:border-box;
    margin:0;
    padding:0
}
.all-content{
    /* background-image: url(../assets/images/women.jpg); */
    background-repeat: no-repeat;
    background-size: cover;
    /* background-color: black; */
    height: 120vh;
}

.semi-home{
    display: flex;
     background-color:rgba(100, 185, 255, 0.486);
     width: 100%;
}
.home-igenamigambi{
    background-color:#eee;
    padding:20px;
    background-size: fixed;
    border-radius: 10px;
    box-shadow: 0 0 5px 5px;
    width: 27%;
    height: 30vh;
    /* padding: 50px; */
    margin-left: 70px;
    margin-top:200px;
    transition:1s;
    
}
.home-igenamigambi:hover{
    transform: scale(1.2);
}
.home-igenamigambi h1{
    padding-top: 7px;
}
.home-igenamigambi h2{
    padding: -4px ;
    font-size: 25px;
    
}
.container{
    display: flex;
    padding-bottom: 10px;
    align-content: space-between;
    opacity: 0;
    animation-name: between;
    animation-duration: 3s;
    animation-delay: 1s;
    animation-fill-mode: forwards;
    transition-property: all;
    transition-duration: 1s;
    padding:0% 6%;
}
@keyframes between{
    0% {opacity:0}
    100% {opacity:1}

}
.rightside{
    background-color: white;
    width: 60%;
    border-radius: 20px;
    /* box-shadow: 9px 8px 3px rgb(167, 235, 11); */
    
}
.leftside{

    width: 40%;
    /* border-radius: 20px; */
    /* box-shadow: 1px 5px 3px 1px rgb(167, 235, 11); */
}
.rightside p{
    text-align: center;
    padding-top: 20px;
    font-size: large;
}
.btn{
    margin-left: 590px;
    margin-top: -10px;
    margin-bottom: 30px;
    background-clip: border-box;
    background-color:rgb(5, 5, 95);
    /* padding: 13px; */
    border-radius: 15px;
    width: 13%;
    color:#fff;
    height: 6vh;
    box-shadow: 3px 0px 3px 0px white;

    animation-name: button;
    animation-duration: 3s;
    animation-delay: 3s;
    animation-fill-mode: forwards;
    transition-property: all;
    transition-duration: 1s;


}


@keyframes button{
    0% {opacity: 0;}
    100% {opacity: 1;}
}
.btn:hover{
    transform:rotateY(180deg)
}

 a{
    font-weight: bold;
    padding-left: 0;
    color: white;
    /* font-size: 16px; */
}

