*{
    box-sizing:border-box;
    margin:0;
    padding:0

}
.custom-shape-divider-bottom-1643320600 {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg);
}

.custom-shape-divider-bottom-1643320600 svg {
    position: relative;
    display: block;
    width: calc(139% + 1.3px);
    height: 198px;
}

.custom-shape-divider-bottom-1643320600 .shape-fill {
    fill: #FFFFFF;
}
