*{
    box-sizing:border-box;
    margin:0;
    padding:0

}
.custom-shape-divider-bottom-1643320600 {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg);
}

.custom-shape-divider-bottom-1643320600 svg {
    position: relative;
    display: block;
    width: calc(139% + 1.3px);
    height: 148px;
}

.custom-shape-divider-bottom-1643320600 .shape-fill {
    fill: #FFFFFF;
}
.footer{
    width: 100%;
    background-color:rgb(2, 2, 36);
}
.footer-container{
    display: flex;

}
.footer-side-1{
    /* background-color: aliceblue; */
    width: 20%;
    height:50vh;
    padding-left: 30px;
    padding-top: 30px;

}
.footer-side-2{
    /* background-color: rgb(71, 128, 179); */
    width: 20%;
    height: 10vh;
    padding-left: 30px;
    padding-top: 30px;

}
.footer-side-3{
    /* background-color: rgb(12, 13, 14); */
    width: 20%;
    height: 10vh;
    padding-left: 30px;
    padding-top: 30px;

}
.footer-side-4{
    /* background-color: rgb(185, 189, 192); */
    width: 20%;
    height: 10vh;
    padding-left: 30px;
    padding-top: 30px;

}
.footer-side-5{
    /* background-color: rgb(8, 111, 151); */
    width: 14%;
    height: 34vh;
    padding-left: 30px;
    padding-top: 0px;
    margin-top: -40px;
  

}
.h1{
    color: rgb(75, 231, 14);
    
    margin-top: -130px;
    font-family:mixed;
    font-weight:bold; 

}


