*{
    box-sizing:border-box;
    margin:0;
    padding:0

}
.navbar-fix a:hover{
    text-decoration:4px  underline;
    color: #ffffff;
    transition: 0s;
}

.header{
    
    background-color:rgb(22, 138, 158);
    background-repeat: no-repeat;
    /* background-size: cover; */
    image-orientation: 10deg;
    height: 200px;
    position:fixed;
    width: 100%;
    z-index: 20;
}
.header img{
    /* padding-top: 50px; */
    margin-top: 50px;
    padding-left: 30px;
}

.header h1{
    color: rgb(75, 231, 14);
    font-size: 45px;
    margin-left: 450px;
    margin-top: -95px;
    font-family:mixed;
    font-weight:bold;
}
.header h2{
    color:rgb(243, 246, 22);
    font-size: 15px;
    margin-top: 50px;
    margin-left: 455px;
    margin-top: -40px;
    font-family: Racing Sans One;
    font-style: italic;
    font-weight: bold;
}
a{
    color: rgb(76, 231, 14);
    float: right;
    padding-right: 60px;
    font-size: 18px;
    padding-top: 10px;
    text-decoration: none;
    font-weight: bold;
    /* margin-left: 100px; */
}

@import '~antd/dist/antd.css';

.login-form {
  max-width: 300px;
}
.login-form-forgot {
  float: right;
}
.ant-col-rtl .login-form-forgot {
  float: left;
}
.login-form-button {
  width: 100%;
}
.dorwer-log{
    background-color:rgb(22, 138, 158) ;
    margin-bottom: 10px;
    height: 80px;
}
.drower-flex{
    display: flex;
    padding-right: 10px;
}
.login{
    font-size: 50px;
    text-decoration: bold;
    margin-left: 20px;
}
.display-flex{display: flex;}
/* .k{
    justfy-content: space
} */
