*{
    box-sizing:border-box;
    margin:0;
    padding:0
}
.header{
    background-color:rgb(22, 138, 158);
    background-repeat: no-repeat;
    background-size: cover;
    image-orientation: 10deg;
    height: 200px;
}
.header img{
    /* padding-top: 50px; */
    margin-top: 50px;
    padding-left: 30px;
}

.header h1{
    color: rgb(75, 231, 14);
    font-size: 45px;
    margin-left: 450px;
    margin-top: -95px;
    font-family:mixed;
    font-weight:bold;
}
.header h2{
    color:rgb(243, 246, 22);
    font-size: 15px;
    margin-top: 50px;
    margin-left: 455px;
    margin-top: -40px;
    font-family: Racing Sans One;
    font-style: italic;
    font-weight: bold;
}
a{
    color: rgb(75, 231, 14);
    float: right;
    padding-right: 60px;
    font-size: 18px;
    padding-top: 10px;
    text-decoration: none;
    font-weight: bold;
    /* margin-left: 100px; */
}

