.popup{
    position:fixed;
    top:0;
    left:0;
    width: 450px;
    height: 30vh;
    background-color:transparent;
    display: flex;
    justify-content: center;
    align-items: center; 
    margin-left: 650px;
    margin-top: 80px;
    border-radius: 5px;
    z-index: 20;
}

.popup-inner{
    position:relative;
    margin-top: 400px;
    padding: 42px;
    width: 400px;
    height: 70vh;
    border-radius: 10px;
    background-color: rgb(255, 255, 255);
    
}
.popup-inner .close-btn{
    position: absolute;
    top: 576px;
    right: 66px;
    width: 50px;

}