.popup{
    position:fixed;
    top:0;
    left:0;
    width: 450px;
    height: 74vh;
    background-color: rgb(8, 111, 151);
    display: flex;
    justify-content: center;
    align-items: center; 
    margin-left: 650px;
    margin-top: 150px;
    border-radius: 5px;
    z-index: 20;
    
}

/* .popup_inner{
    position:relative;
    margin-top: 600px;
    padding: 32px;
    width: 400px;
    height: 50vh;
    border-radius: 10px;
    
} */
.close-btn{
    position: absolute;
    top: 570px;
    right: 66px;
    width: 80px;
    height: 4.5vh;
    color: white;
    background-color:rgb(22, 138, 158);

}