.popup{
    position:fixed;
    top:0;
    left:0;
    width: 450px;
    height: 10vh;
    /* background-color:transparent; */
    display: flex;
    justify-content: center;
    align-items: center; 
    margin-left: 650px;
    margin-top: 250px;
    border-radius: 5px;
    z-index: 20;
}

.popup_inner{
    position:relative;
    margin-top: 600px;
    padding: 32px;
    width: 400px;
    height: 50vh;
    border-radius: 10px;
    background-color: rgb(255, 255, 255);
}
.popup_inner .close-btn{
    position: absolute;
    top: 390px;
    right: 66px;
    width: 50px;

}