.leaders-card{    
   margin: 20px;   
   height: 42vh;
   
  border: 1px solid black;
  padding: 20px; 
  font-size: x-large;
  box-shadow:3px 3px rgba(0, 0, 0, 0.856);
  background-color: beige;
}
.flexing{
   display: flex;
  
}
.leaders button{
   float: right;
   margin: 20px;
   background-color: rgba(48, 38, 182, 0.151);
    padding: auto;
    border-radius: 6px;
    width: auto;
    height: 5vh;
}
.profile{
   display: flex;
   width :20%;
   margin: 20px;
  height: 20vh;
  font-size:x-large;   
}

