.leaders{    
   margin: 20px;   
   height: 52vh;
   width: 100%;
  border: 1px solid black;
  padding: 20px; 
  font-size: x-large;
  
}
.flexing{
   display: flex;
  
}
.leaders button{
   float: right;
   margin: 20px;
   color: green;
}
.profile{
   display: flex;
   width :20%;
   margin: 20px;
  height: 20vh;
  font-size:x-large;   
}
.calendar{
   width:100%;
}
